/* Variables */
:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-black: #293449;
  --basic-blackclick: #1D2739;
  --basic-white: #FFFFFF;
  --basic-navigation: #32425C;
  --basic-user:#000000;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-success: #5FBB2D;
  --special-warning: #FFBF47;
  --special-error: #BA2732;
  --special-greylight: #EAEAEA;
  --special-social: #212A3A;
  --special-input: #A9A9A9;
  --special-block: #F2F6F8;
  --special-greendark: #518534;
  }
/* Global */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum",sans-serif;
  font-weight: normal;
  font-style: normal;
}

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Гриды */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 auto;
}


/* Скрываем элементы */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header-background */

.logo-header {
   display: block;
   width: 220px;
   height: 47px;
   font-size: 24px;
   line-height: 24px;
   color: var(--basic-white);
   background-color: var(--basic-red);
   text-transform: uppercase;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 12px;
   border-bottom: 5px solid #b52933;
   box-sizing: border-box;
   margin-right: 42px;
}

.header-upper {
  background-color: var(--basic-black);
  height: 42px;
}

.header-main {
  background-color: var(--basic-background);
}


/* Ссылки в верхней части header */
.search-input {
  height: 42px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Cuprum",sans-serif;
  color: var(--basic-white);
  outline: 0;
  outline-offset: 0;
  width: 271px;
  margin: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
input[type="search"] {
-webkit-appearance: textfield;
}

.links-header a {
  color: var(--basic-white);
}

.links-header a:active {
  color: rgba(255, 255, 255, 0.5);
}

.links-header .bookmark {
  padding-right: 21px;

}
.links-header .basket {
  padding-left: 49px;
  padding-right: 21px;
}

.basket-full {
  background-color: var(--basic-red);
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 21px;
  padding-left: 35px;
  text-align: center;
  border: none;
  margin-left: 18px;
}

.green-button-order {
  background-color: var(--basic-green);
  display: inline-block;
  width: 150px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  text-align: center;
  margin: 0;
}

.green-button-order:hover {
  background-color: var(--special-success);
}

.green-button-order:active {
  background-color: var(--basic-green);
}

.search input[type="search"] {
  background-color: var(--basic-black);
  -webkit-appearance:none;
  border: none;
}

/* Header-main */
.header-upper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-contacts-user {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 35px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 69px;
}

.header-contacts-catalog {
  margin-right: 51px;
}

.shop {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  margin-left: 30px;
  width: 197px;
  margin-right: 93px;
  margin-top: 42.5px;
}

.header-phone {
  display: block;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  text-align: center;
  border: 3px solid #FFFFFF;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 30px;
  margin-top: 46px;
  width: 270px;
}

.header-address {
  display: block;
  font-size: 14px;
  color: var(--basic-navigation);
  text-align: center;
  margin-top: 3px;
}

/* User-navigation */
.user-navigation {
  display: flex;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation-catalog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.button-user {
  color: var(--basic-user);
  vertical-align: middle;
  background-color: var(--basic-white);
  border: none;
}

.entry {
  display: inline-block;
  width: 121px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  margin-right: 10px;
  margin-top: 46px;
}
.registration {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 46px;
}
.name-user {
  display: block;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 21px;
  line-height: 21px;
  margin-top: 46px;
  margin-bottom: 5px;
  width: 299px;
}
.user-navigation a:hover {
  color: var(--basic-red);
}
.user-navigation a:active {
  color: var(--basic-greylight);
}
.name-user:active {
  color: var(--basic-greylight);
}
.personal-account {
  list-style: none;
  display: flex;
  padding-left: 44px;
  margin: 0;
}
.personal-account a {
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-navigation);
  padding-right: 32px;
}
.personal-account a:hover {
  color:var(--basic-red);
}
.personal-account a:active {
  color:var(--basic-greylight);
}
/* Main-navigation */
.main-navigation {
  background-color: var(--basic-navigation);
  box-shadow: inset 0px -5px 0px rgba(41, 52, 73, 1);
  width: 100%;
  margin-bottom: 60px;
  display: inline-block;
}


.main-navigation a {
  padding-top: 16px;
  padding-bottom: 20px;
  color: var(--basic-white);
}

.main-navigation a:hover {
  background-color: var(--basic-black);
  box-shadow: inset 0px -5px 0px rgba(41, 52, 73, 1);
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-blackclick);
  box-shadow: inset 0px -5px 0px rgba(41, 52, 73, 1);
}

.site-navigation {
  list-style: none;
}

.site-navigation-wrapper .site-navigation {
  display: flex;
  width: 940px;
  min-height: 60px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 47px 0 52px;
}

/* Company-description */
.main-company {
  display: flex;
  margin-bottom: 70px;
  margin-top: 70px;
  justify-content: space-between;
  align-items: flex-start;
}
.company-main-box {
  width: 478px;
}

.contacts-main-box {
  width: 300px;
}

.company {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  color: var(--basic-user);
}

h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-user);
}

.company-main-box h2 {
  margin: 0;
  margin-bottom: 24px;
}

.contacts-main-box h2 {
  margin: 0;
  margin-bottom: 24px;
}

.contacts-main-box .company {
  width: 180px;
  margin: 0;
  margin-bottom: 32px;
}

.company-main-box p {
  margin: 0;
  padding: 0;
}

.list-companies {
  color: var(--basic-user);
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 3px;
}

.list-companies li {
  margin-bottom: 12px;
}

.red-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-red);
  border: none;
}

.red-button-company {
  display: block;
  width: 220px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
}

.red-button-feedback {
  display: block;
  width: 300px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
}
.contacts-main-box img {
  display: block;
  margin-bottom: 25px;
}

.red-button:active {
  background-color: var(--special-error);
}

/* Form */


.form-header {
  color: var(--basic-user);
}

.appointment-item input,
.appointment-item textarea {
   border: 2px solid var(--basic-greylight);
   border-radius: 2px;
   color: var(--special-input);
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
}

.red-button-order {
  font-family: "Cuprum",sans-serif;
  display: block;
  width: 460px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
}

/* Footer */
.footer-background-1 {
  background-color: var(--basic-navigation);
  display: flex;
  height: 193px;
}
.footer-container-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 66px;
}

.footer-background-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--basic-black);
  height: 107px;
}

.logo-footer {
  display: block;
  width: 220px;
  height: 68px;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid #b52933;
  box-sizing: border-box;
  margin-bottom: 22px;
}
.footer-contacts {
  color: var(--basic-background);
  margin: 0;
  width: 327px;
}
.footer-nav-1 {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 37px;
  margin-bottom: 34px;
  justify-content: space-between;
  width: 547px;
}

.footer-nav-2 {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 23px;
  justify-content: space-between;
}

.footer-nav-1,
.footer-nav-2 {
  list-style: none;
}
.footer-nav-1 a {
  color: var(--basic-background);
}
.footer-nav-2 a {
  color: var(--special-yellowlight);
}
.footer-nav-1 a:hover,
.footer-nav-2 a:hover {
  text-decoration-line: underline;
}
.footer-nav-1 a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration-line: none;
}
.footer-nav-2 a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration-line: none;
}

.footer-text {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: var(--basic-white);
}

.footer-yellow {
  color: var(--special-yellowlight);
}

.footer-yellow:hover {
  text-decoration-line: underline;
}

.footer-yellow:active {
  color: var(--basic-red);
  text-decoration-line: none;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-right: 113px;
}

.social-button {
  display: block;
  background-color: var(--special-social);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  margin-right: 3px;
  text-align: center;
}

.social-button:hover{
  background-color: var(--basic-red);
}

.footer-container-copyright {
  width: 231px;
  margin-right: 157px;
}

.footer-container-feedback {
  width: 137px;
  margin-right: 51px;
}

.footer-container-developer {
  width: 98px;
}

/* Каталог: раскладка */
.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  margin-bottom: 145px;
}

.page-catalog .breadcrumbs {
  grid-column: 1 / -1;
  margin-bottom: 20px;
  margin-top: 21px;
}

.page-catalog .background-block {
  grid-column: 1 / -1;
  margin-bottom: 30px;
}

.background-block h2 {
  vertical-align: middle;
  padding-left: 29px;
  margin-top: 29px;
  margin-bottom: 29px;
}

.catalog {
  margin-left: 20px;
}

/* Страница каталога: хлебные крошки + заголовок */
.breadcrumbs a {
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-user);
  margin: 0;
  padding: 0;
}

.background-block {
  background-color: var(--special-block);
  width: 940px;
  height: 89px;
}

/* Filters */
.headline-filter h3 {
  font-family: "PT Sans",sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-user);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.filter fieldset {
  border: none;
}
.filter legend {
  font-family: "PT Sans",sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-user);
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter li {
  font-family: "PT Sans",sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-user);
}

.filter-button {
  color: var(--basic-user);
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-button:hover {
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* Каталог: общее оформление */
.catalog-item p {
  margin: 0;
  padding: 0;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.catalog-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 220px;
  height: 318px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: var(--basic-white);
  border: 1px solid #EAEAEA;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.catalog-item img {
  display: block;
  margin-bottom: 28px;
  margin-top: 22px;
}
.catalog-item h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-user);
  text-transform: none;
  margin-bottom: 0;
  margin-left: 18px;
  margin-right: 17px;
  margin-bottom: 7px;
}


.catalog-item-price-standart {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.catalog-item-price-old {
  display: block;
  font-family: "PT Sans",sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: var(--special-input);
  margin-bottom: 23px;
}
.catalog-item-price-old-no {
  display: block;
  font-family: "PT Sans",sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  margin-bottom: 23px;
  color: transparent;
}

.icon-item-new {
  background-color: var(--basic-red);
  transform: rotate(45deg);
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

/* Каталог: динамическое оформление */
.button-buy {
  display:none;
}
.button-bookmark {
  display:none;
}

.catalog-item:hover .img-catalog {
  display:none;
}

.catalog-item:hover .button-buy {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  color: var(--basic-white);
  width: 135px;
  height: 38px;
  vertical-align: middle;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.catalog-item:hover .button-buy:hover {
  display:block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  color: var(--basic-white);
  background-color: var(--special-success);
}

.catalog-item:hover .button-buy:active {
  display:block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  color: var(--basic-white);
  background-color: var(--special-greendark);
}

.catalog-item:hover .button-bookmark {
  display: block;
  font-size: 14px;
  line-height: 18px;
  border: 3px solid #63A63E;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-navigation);
  padding-top: 11px;
  width: 135px;
  height: 38px;
  margin-bottom: 54px;
}

.catalog-item:hover .button-bookmark:hover {
  display: block;
  font-size: 14px;
  line-height: 18px;
  border: 3px solid #32425C;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-navigation);
}

.catalog-item:hover .button-bookmark:active {
  display: block;
  font-size: 14px;
  line-height: 18px;
  border: 3px solid #32425C;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-navigation);
  opacity: 0.5;
}
/* Оформление попапа */
.notification-basket {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-user);
}

.red-button-checkout {
  padding: 11px 46px 9px 47px;
}

.white-button-continue {
  background-color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-user);
  vertical-align: middle;
  border: none;
  padding: 11px 31px 9px 32px;
}

.white-button-continue:active {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
