/* Variables */
:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-black: #293449;
  --basic-blackclick: #1D2739;
  --basic-white: #FFFFFF;
  --basic-navigation: #32425C;
  --basic-user:#000000;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-success: #5FBB2D;
  --special-warning: #FFBF47;
  --special-error: #BA2732;
  --special-greylight: #EAEAEA;
  --special-social: #212A3A;
  --special-input: #A9A9A9;
  --special-block: #F2F6F8;
  --special-greendark: #518534;
  }
/* Global */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum",sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Скрываем элементы */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header-background */
.logo {
   display: block;
   width: 220px;
   height: 47px;
   font-size: 24px;
   line-height: 24px;
   color: var(--basic-white);
   background-color: var(--basic-red);
   text-transform: uppercase;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 12px;
   border-bottom: 5px solid #b52933;
}
.header-upper {
  background-color: var(--basic-black);
}

.header-main {
  background-color: var(--basic-background);
}


/* Ссылки в верхней части header */
.header-upper a {
  color: var(--basic-white);
}

.header-upper a:active {
  color: rgba(255, 255, 255, 0.5);
}

.basket-full {
  vertical-align: middle;
  background-color: var(--basic-red);
  padding: 9px 21px 9px 35px;
  border: none;
}

.green-button-order {
  vertical-align: middle;
  background-color: var(--basic-green);
  padding: 9px 16px 9px 19px;
  border: none;
}

.green-button-order:hover {
  background-color: var(--special-success);
}

.green-button-order:active {
  background-color: var(--basic-green);
}

.search input[type="search"] {
  background-color: var(--basic-black);
  -webkit-appearance:none;
  border: none;
}

/* Header-main */
.shop {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
}

.header-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  text-align: center;
}

.header-address {
  font-size: 14px;
  color: var(--basic-navigation);
  text-align: center;
}

/* User-navigation */
.user-navigation {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  list-style: none;
}
.button-user {
  color: var(--basic-user);
  vertical-align: middle;
  background-color: var(--basic-white);
  border: none;
}
.entry {
  padding: 12px 27px 12px 45px;
}
.registration {
  padding: 12px 24px;
}
.name-user {
  padding: 12px 57px 12px 56px;
}
.user-navigation a:hover {
  color: var(--basic-red);
}
.user-navigation a:active {
  color: var(--basic-greylight);
}
.name-user:active {
  color: var(--basic-greylight);
}
.personal-account {
  list-style: none;
}
.personal-account a {
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-navigation);
}
.personal-account a:hover {
  color:var(--basic-red);
}
.personal-account a:active {
  color:var(--basic-greylight);
}

/* Main-navigation */
.main-navigation {
  background-color: var(--basic-navigation);
  box-shadow: inset 0px -5px 0px rgba(41, 52, 73, 1);
}
.main-navigation a {
  color: var(--basic-white);
}

.main-navigation a:hover {
  background-color: var(--basic-black);
  box-shadow: inset 0px -5px 0px rgba(41, 52, 73, 1);
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-blackclick);
  box-shadow: inset 0px -5px 0px rgba(41, 52, 73, 1);
}
.site-navigation {
  list-style: none;
}

/* Company-description */
.company {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  color: var(--basic-user);
}

h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-user);
}

.list-companies {
  color: var(--basic-user);
  list-style: none;
}

.red-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-red);
  border: none;
}

.red-button-company {
  padding: 11px 40.29px 9px 39.71px;
}

.red-button-feedback {
  padding: 11px 61.12px 9px 61.88px;
}

.red-button:active {
  background-color: var(--special-error);
}

/* Form */
.form-header {
  color: var(--basic-user);
}

.appointment-item input,
.appointment-item textarea {
   border: 2px solid var(--basic-greylight);
   border-radius: 2px;
   color: var(--special-input);
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
}

.red-button-order {
  font-family: "Cuprum",sans-serif;
  padding: 11px 180.79px 9px 180.21px;
}

/* Footer */
.footer-background-1 {
  background-color: var(--basic-navigation);
}

.footer-background-2 {
  background-color: var(--basic-black);
}

.footer-contacts {
  color: var(--basic-background);
}

.footer-nav-1,
.footer-nav-2 {
  list-style: none;
}
.footer-nav-1 a {
  color: var(--basic-background);
}
.footer-nav-2 a {
  color: var(--special-yellowlight);
}
.footer-nav-1 a:hover,
.footer-nav-2 a:hover {
  text-decoration-line: underline;
}
.footer-nav-1 a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration-line: none;
}
.footer-nav-2 a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration-line: none;
}

.footer-text {
  text-align: left;
  color: var(--basic-white);
}

.footer-yellow {
  color: var(--special-yellowlight);
}

.footer-yellow:hover {
  text-decoration-line: underline;
}

.footer-yellow:active {
  color: var(--basic-red);
  text-decoration-line: none;
}

.footer-social {
  list-style: none;
}

.social-button {
  background-color: var(--special-social);
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 5px;
}

.social-button:hover{
  background-color: var(--basic-red);
}

/* Страница каталога: хлебные крошки + заголовок */
.breadcrumbs a {
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-user);
}

.background-block {
  background-color: var(--special-block);
  width: 940px;
  height: 89px;
}

/* Filters */
.headline-filter h3{
  font-family: "PT Sans",sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-user);
  text-transform: uppercase;
}

.filter legend {
  font-family: "PT Sans",sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-user);
}

.filter ul {
  list-style: none;
}

.filter li {
  font-family: "PT Sans",sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-user);
}

.filter-button {
  color: var(--basic-user);
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 80px 10px 78.43px;
}

.filter-button:hover {
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* Каталог: общее оформление */
.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: var(--basic-white);
  border: 1px solid #EAEAEA;
}

.catalog-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.catalog-item h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-user);
  text-transform: none;
}

.catalog-item-price-standart {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.catalog-item-price-old {
  font-family: "PT Sans",sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: var(--special-input);
}

.icon-item-new {
  background-color: var(--basic-red);
  transform: rotate(45deg);
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

/* Каталог: динамическое оформление */
.button-buy {
  display:none;
}
.button-bookmark {
  display:none;
}

.catalog-item:hover .img-catalog {
  display:none;
}

.catalog-item:hover .button-buy {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  color: var(--basic-white);
}

.catalog-item:hover .button-buy:hover {
  display:block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  color: var(--basic-white);
  background-color: var(--special-success);
}

.catalog-item:hover .button-buy:active {
  display:block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  color: var(--basic-white);
  background-color: var(--special-greendark);
}

.catalog-item:hover .button-bookmark {
  display: block;
  font-size: 14px;
  line-height: 18px;
  border: 3px solid #63A63E;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-navigation);
}

.catalog-item:hover .button-bookmark:hover {
  display: block;
  font-size: 14px;
  line-height: 18px;
  border: 3px solid #32425C;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-navigation);
}

.catalog-item:hover .button-bookmark:active {
  display: block;
  font-size: 14px;
  line-height: 18px;
  border: 3px solid #32425C;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-navigation);
  opacity: 0.5;
}
/* Оформление попапа */
.notification-basket {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-user);
}

.red-button-checkout {
  padding: 11px 46px 9px 47px;
}

.white-button-continue {
  background-color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-user);
  vertical-align: middle;
  border: none;
  padding: 11px 31px 9px 32px;
}

.white-button-continue:active {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
